@import "../../global.scss";
.testimonials {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 3.1rem;

    @include mobile{
      font-size: 1.2rem;
    }
  }

  .container {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile{
      flex-direction: column;
      height: 100%;
    }

  }

  .card {
    width: 250px;
    height: 70%;
    border-radius: 0.6rem;
    box-shadow: 0 0 0.9rem -0.5rem black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.2rem;
    transition: all 1s ease;

    @include mobile{
      height: 180px;
      margin: 0.6rem 0;
    }

    &.featured {
      width: 300px;
      height: 75%;
      margin: 0 1.8rem;

      @include mobile{
        width: 250px;
        height: 180px;
        margin: 1px;
      }
    }

    &:hover {
      transform: scale(1.1);
    }

    .top {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        &.left, &.right {
          height: 1.5rem;
        }

        &.user {
          height: 60px;
          width: 60px;
          border-radius: 50%;
          object-fit: cover;
          margin: 0 1.8rem;

          @include mobile{
            width: 30px;
            height: 30px;
          }
        }
      }
    }

    .center {
      padding: 0.6rem;
      border-radius: 0.6rem;
      background-color: rgb(250, 244, 245);

      @include mobile{
        font-size: 0.75rem;
        padding: 0.3rem;
      }
    }

    .bottom {
      display:flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      h3 {
        margin-bottom: 0.3rem;

        @include mobile{
          font-size: 0.8rem;
        }
      }
      h4{
        color: rgb(121, 115, 115);
        @include mobile{
          font-size: 0.8rem;
        }
      }
    }
  }
}